body {
    background-color: #eae9f4;
}

.container {
    background-color: #eae9f4;
    max-width: 1500px;
    width: 80%;
    border: 2px solid purple;
    padding: 16px 30px 24px 30px;
    margin: 30px auto;
}
    